<!DOCTYPE html>
 {% load staticfiles %}
 {% csrf_token %}

<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Title</title>

    <link rel="stylesheet" href="{%static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="{%static 'css/index2.css'%}">
    <link rel="stylesheet" href="{%static 'css/styles.css'%}">

</head>
<body>
    <div id="wrapper">
    <div class="overlay"></div>

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                   <span class="text-uppercase">La casona</span>
                </a>
            </li>
            <li>
                <a href="{% url 'index' %}"><i class="fa fa-fw fa-home"></i> Home</a> {% csrf_token %}
            </li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-folder"></i> Inventario <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'inventory' %}">Inventario General</a> {% csrf_token %}</li>
                    <li><a href="{% url 'orden' %}">Ordenes</a> {% csrf_token %}</li>
                    <li><a href="{% url 'platillo' %}">Platillo</a> {% csrf_token %}</li>
                </ul>
            </li>

            <li>
                <a href="{% url 'caja' %}"><i class="fa fa-fw fa-file-o"></i> Caja</a>
            </li>
            <li>
                <a href="{% url 'menu' %}"><i class="fa fa-fw fa-file"></i>Menu</a>
            </li>
            <li>
                <a href="{% url 'carrito' %}"><i class="fa fa-fw fa-bank"></i>Carrito</a>
            </li>
            <li class="logout">
                <a href="#" class="logout-menu" data-toggle="modal" data-target="#myModalLogout"><i class="fa fa-fw fa-user logout-menu"></i> Logout</a>{% csrf_token %}

            </li>
        </ul>
    </nav>


    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
        <span class="hamb-top"></span>
        <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
      </button>
        <div class="container">
         <!-- Modal -->
                <div class="modal fade" id="myModalLogout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Salir del sistema</h4>
                      </div>
                      <div class="modal-body">
                        ¿Esta seguro que desea salir del sistema?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <a href="{% url 'logout' %}" type="button" class="btn btn-primary text-decoration-none">Salir del sistema</a>
                      </div>
                    </div>
                  </div>
                </div>
            {% block content %} {% endblock %}
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
    <!-- /#wrapper -->
<script src="{%static 'js/jquery-2.2.4.min.js'%}"></script>
<script src="{%static 'js/bootstrap.min.js'%}"></script>
<script src="{%static 'js/index2.js'%}"></script>
<script src="{%static 'js/popup-menu.js'%}"></script>
</body>
</html>