{% extends "appcasona/base_template.html" %}
{% block content %}
{% load staticfiles %}
    <h1>{{ nombre }}</h1>

 <div class="row">
                <div>
                    <img class="menu-img" src="{% static 'images/'%}{{ imagen }}" alt="{{imagen}}">
                    <h2>Descripcion</h2>
                    <p>{{ descripcion }}</p>
                    <p>Si desea remover algun ingrediente seleccionelo</p>

                    <form  id = "form-id" action="{% url 'other' id %}" method = POST>{% csrf_token %}
                        {% for ing in ingredientes %}
                            <div class="checkbox">
                                <label><input type="checkbox" value="{{ ing.id }}" name ="opciones">{{ ing }}</label>
                            </div>
                        {% endfor %}
                        <div>
                            <p>
                                Numero de Mesa:
                            </p>
                            <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="mesa"></div>
                        <h3>Precio: Q.{{ precio }}</h3>

                        <div class="btn-group">
                            <input type="submit" class="btn btn-primary" name="volver" value="Volver">
                            <input type="submit" class="btn btn-primary" name="botonOtro" value="Ordenar Otro">
                            <input type="submit" class="btn btn-primary" name="complete" value="Completar Orden">
                        </div>
                    <form>
            </div>
 </div>
{% endblock %}