{% extends "appcasona/base_template.html" %}
{% block content %}
{% load staticfiles %}
    <h1>{{ nombre }}</h1>

 <div class="row">
                <div>
                    <img class="menu-img" src="{% static 'images/'%}{{ imagen }}" alt="{{imagen}}">
                    <h2>Descripcion</h2>
                    <p>{{ descripcion }}</p>
                    <p>Si desea remover algun ingrediente seleccionelo</p>
                    {% for ing in ingredientes %}

                    <div class="checkbox">
                         <label><input type="checkbox" value="">{{ ing }}</label>
                    </div>
                    {% endfor %}
                    <h3>Precio: Q.{{ precio }}</h3>
                   </div>
                    <div>
                        <div class="btn-group">
                        <div class="btn btn-primary" >
                                <a href="{% url 'menu' %}">Volver</a>
                            </div>
                        <div class="btn btn-primary" >
                            <form action="." method = POST>
                                <a href="{% url 'menu' %}">Ordenar Otro</a>
                            </div>
                            </form>
                        <div class="btn btn-primary" >
                                <a href="{% url 'menu' %}">Completar Orden</a>
                            </div>
                    </div>
            </div>
 </div>
{% endblock %}