{% extends "appcasona/base_template.html" %}
{% block content %}
    {% load staticfiles %}
         <div class="row">

                        <div class="col-lg-8 col-lg-offset-2">

                             <img src="{% static 'images/logo.jpg' %}" alt="Imagen del Logo del Restaurante" />
                            <p></p>
                            <p>Bienvenido al software de Gestion de Restaurante la Casona, para ingresar a alguna de las pestanas presione el boton de menu que se encuentra en la esquina superior izquierda.</p>


                        </div>
                    </div>
{% endblock %}