{% extends "appcasona/base_template.html" %}
{% block content %}
{% load staticfiles %}
    <h1>Menu</h1>
    <div class="row">
        {% for platillo in platillos %}
        <div class="col-md-4 text-center">
            <a href="{{ platillo.platillo_id }}">
                <div class="menu-square">
                <p>Nombre: {{ platillo.nombreDelPlatillo }}</p>
                <img class="menu-img" src="{% static 'images/'%}{{ platillo.imagenPlatillo }}" alt="{{platillo.imagenPlatillo}}">
                <p>Precio: {{ platillo.precioPlatillo }}</p>
                <!--<p>{{ post.text|linebreaksbr }}</p>-->
            </div>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}